.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: brown ;
}
.pagination{
    margin-left: 200px;
    margin-bottom: 200px;

}
.pagination button{
    margin-right: 10px;
}
.pagination .selected{
    background-color: brown;
    font-weight: bold;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
}
@media screen and (max-width: 1100px){
.product-container{
    grid-template-columns: repeat(2, 1fr)} 
    
}